body >.navbar{
    margin-bottom: 60px;
}
.status{position: absolute;top: 10px;right: 15px;font-weight: bold;}
.navbar-expand-sm .navbar-nav .nav-link{border-right: 1px solid lightgray;}
.navbar-expand-sm .navbar-nav .nav-item:last-child .nav-link{border-right: none;}

.toast{
    position: absolute;
    width: 100%;
    top: 60px;
}

.container{
    position: relative;
}

.username{
    position: absolute;
    right: 0;
    margin: 0;
    top: 7px;
    font-weight: bold;
}

.date{
    font-size: 12px;
    color: grey;
    position: absolute;
    top: 13px;
    right: 70px;
    padding-right: 8px;
    border-right: 1px solid lightgray;
}